
@*
    
*@
@{
}

<h2>Att göra lista</h2>

@if(!string.IsNullOrEmpty(ViewBag.Error))
{
    <p style="color:red">@ViewBag.Error</p>

}
<form asp-action="AddItem" method="post">
    <input type="text" name="newItem" placeholder="Lägg till en sak i listan" />
    <select name="priority">
        <option value="High" style="color:red">Hög</option>
        <option value="Medium" style="color:blueviolet">Mellan</option>
        <option value="Low" style="color:limegreen">Låg</option>
    </select>
    <button type="submit">Lägg till</button>
</form>


<ul>
    @foreach(var item in Model)
    {
        <li>
            @item.Text - @item.Priority
            <form asp-action="RemoveItem" method="post" style="display:inline">
                <input type="hidden" name="index" value="@Model.IndexOf(item)" />
                <button type="submit">Ta bort</button>
            </form>
        </li>
    }
</ul>
